html, body, h1, h2, h3, h4, p, div, ul, ol, li, canvas {
   padding: 0;
   border: 0;
   margin: 0;
   font: inherit;
   font-size: 100%;
   font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
   background-color: #999999;
}

h1 {
   font-size: 36px;
   font-weight: bold;
   text-align: center;
}
h2 {
   margin-top: 10px;
   font-size: 26px;
   font-weight: 100;
   text-align: center;
}

h3 {
   text-align: center;
   font-weight: 50;
   font-size: 18px;
}

div{
   padding: 10px;
}

ul {
   margin-top: 10px;
}

li {
   display: inline-block;
   padding-left: 10px;
}

canvas {
   background-color: #ffffff;
}

#main {
   width: 600px;
   margin: 0 auto;
}

#gameArea {
   display: none;
}

#play {
   display: block;
   /*margin-left: 179px;*/
   margin: 0 auto;
   margin-top: 10px;
}

#battle {
   /*margin-left: 43px;*/
   text-align: center;
}

#holdPiece {
   margin-bottom: 520px;
   margin-left: 10px;

}

#piecePreview {
   margin-bottom: 0px;
   margin-left: -105px;

}

.won {
   color: #00E600;
}

.lost {
   color: red;
}

.selected {
   background-color: #888888;
   border: 2px solid #444444;
}

.robot-setup {
   /*margin-left: 43px;*/
   text-align: center;
}

.destination {
   margin-top: 10px;
   margin-left: 10px;
   border: 1px solid #666666;
   float: left;
   width: 45%;
   cursor: pointer;
   background-color: #dddddd;
   text-align: center;
}

.clear {
   clear: both;
   padding: 0px;
}

.center {
   float: none;
   margin: 10 auto;
}

input {   
   display: block;
   margin: 10 auto;
}

#login {
   text-align: center;
}
#message {
   height: 20px;
}

.list li {
   display: block;
   text-align: center;
}

#legend {
   float: left;
   height: 100%;
}

#shardResources {
   text-align: center;
}

#shardResources li {
   margin: 5px;
   display: inline-block;
   height: 50px;
   width: 50px;
   border: 1px solid #ffffff;
   padding: 0px;
   line-height: 50px;
   font-weight: 900;
   text-shadow: 1px 1px #ffffff;
}

#gemResources {
   text-align: center;
}

#gemResources li {
   margin: 5px;
   display: inline-block;
   height: 50px;
   width: 50px;
   border: 1px solid #ffffff;
   padding: 0px;
   line-height: 50px;
}

#gemResources .selected {
   border: 1px solid #666666;
}

#crystalResources {
   text-align: center;
}

#crystalResources li {
   margin: 5px;
   display: inline-block;
   height: 50px;
   width: 50px;
   border: 1px solid #ffffff;
   padding: 0px;
   line-height: 50px;
}

#shardForgeSelections {
   text-align: center;
}

.forgeItem {
   font-size: 40px;
   margin: 5px;
   border: 1px solid #666666;
   height: 100px;
   width:  100px;
}

.plus {
   font-size: 40px;
   margin: 5px;
   padding: 0px;
}

.forgeButton {
   display: block;
   margin: 0 auto;
}

.gemRecipe div{
   display: inline-block;
   width: 10px;
   height: 10px;
}